{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>


    <div class="container mt-4">
    <div class="row g-3">

        {% for list in listing %}
        
        <div class="col-md-4">
            <a href="{% url 'listing_details' list.id  %}">
            <div class="card shadow-sm h-100">

                <!-- Image -->
                <img src="{{ list.image }}" class="card-img-top" alt="{{ list.title }}" style="height: 200px; object-fit: cover;">

                <div class="card-body">
                    <h5 class="card-title">{{ list.title }}</h5>
                    <p class="card-text text-muted" style="font-size: 0.9rem;">{{ list.description|truncatechars:80 }}</p>

                    <p class="mb-1"><strong>Price:</strong> ₹{{ list.start_bid }}</p>
                    <p class="mb-1"><strong>Category:</strong> {{ list.category }}</p>
                    <p class="mb-1"><strong>Bid(s):</strong> {{ list.no_of_bids }}</p>
                </div>

                <div class="card-footer small text-muted">
                    By {{ list.author }} • {{ list.created_at|date:"M d, Y" }}
                </div>

            </div>
            </a>
        </div>
        
        {% endfor %}

    </div>
</div>













    
{% endblock %}